p {
  font-size: 20px;
  color: #665AFF;
  font-style: italic;
  font-family: 'PT Sans', sans-serif;

}

#formPara {
  margin-top: 70px;
}

#tablePara {
  margin-top: 50px;
  position: relative;
}

h1 {
  font-style: bold;
  color: #665AFF;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

body {
  background-color: #ADCE2E;
  width: 960px;
  margin: 0 auto;
}

table {
  font-size: 20px;
  color: #00037D;
  font-family: 'PT Sans', sans-serif;

}

#allTable {
  margin: auto;
}
#newDonutsForm {
  text-align: center;
  position: fixed;
  margin-left: 180px;
}
tr:nth-child(even) {
  background-color: yellow;
}

td {
  text-align: right;
}

#addDonutShop {
  font-family: 'PT Sans', sans-serif;
}

#erase {
  font-family: 'PT Sans', sans-serif;
  margin: 20px auto;
  position: absolute;
}

.formData {
  color: #00168A;
  font-family: 'PT Sans', sans-serif;

}


